body
{
    font-family: 'Oswald', sans-serif;

    overflow-x: hidden;

    margin: 0;
    padding: 0;
}

header
{
    position: relative;

    overflow: hidden;

    height: 110vh;

    background: url(img/header.jpg) no-repeat center top / cover;
}
.wrapper
{
    display: flex;

    margin: 0 auto;

    justify-content: center;
}

.menu ul
{
    display: flex;
    flex-direction: row;

    list-style-type: none;

    text-align: center;

    justify-content: center;
}

.menu li
{
    padding-right: 70px;
}

.menu a
{
    font-weight: 100;

    text-decoration: none;

    color: #fff;
}

.menu a:hover
{
    font-weight: 100;

    transition: .3s;
    text-decoration: none;

    color: #b9b9b9;
}

.menu
{
    position: fixed;
    z-index: 2;

    width: 1000vh;
    height: 60px;

    background-color: #333;
}

.headline
{
    position: absolute;

    display: flex;
    flex-direction: column;

    margin-top: 15vh;

    text-align: center;

    justify-content: center;
}

.headline h1
{
    font-size: 50px;

    margin: 0;
    margin-top: 10px;

    letter-spacing: 3px;
    text-transform: uppercase;

    color: #fff;
}

.headline span
{
    font-size: 16px;
    font-weight: 400;

    margin: 0;
    margin-top: 5px;

    letter-spacing: 5px;
    text-transform: uppercase;

    color: #fff;
}

section
{
    display: flex;
    flex-direction: column;

    height: 650px;

    background: #2f2e2e;

    justify-content: center;
    align-items: center;
}
.inner
{
    display: flex;
    flex-direction: column;

    text-align: center;

    justify-content: center;
    flex-wrap: nowrap;
}
.inner h3
{
    font-size: 30px;
    font-weight: 300;

    margin-top: 6%;
    margin-bottom: 0;

    letter-spacing: 3px;
    text-transform: uppercase;

    color: #fff;
}

.title hr
{
    width: 40px;

    color: #fff;

    size: 10;
}
.picture
{
    display: flex;
    flex-direction: row;

    margin-top: 50px;

    text-align: center;

    justify-content: center;
}

.picture p
{
    font-size: 14px;
    font-weight: 100;

    letter-spacing: 1px;

    color: #fff;
}

.picture h4
{
    font-size: 22px;
    font-weight: 200;

    letter-spacing: 2px;

    color: #fff;
}

.picture-col
{
    padding-right: 145px;
}

.picture-col:last-of-type
{
    padding-right: 0;
}

section:nth-of-type(2)
{
    padding-bottom: 70px;

    background-color: #fff;
}

section:nth-of-type(n+2) h3
{
    font-size: 30px;
    font-weight: 300;

    letter-spacing: 3px;
    text-transform: uppercase;

    color: #2f2e2e;
}

section:nth-of-type(2) hr
{
    color: #2f2e2e
    width: 40px;

    size: 10;
}

.title p
{
    font-size: 18px;
    font-weight: 100;

    margin-bottom: 55px;

    letter-spacing: 2px;
}

.inner img
{
    height: 20vh;
}

.photo
{
    display: flex;
    flex-direction: row;

    width: 100vh;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.picture img
{
    height: 100px;
    padding: 5px;

    border: 3px solid #fff;
    border-radius: 100%;
}

section:nth-of-type(3)
{
    z-index: 2;

    margin-bottom: 500px;

    background: url(img/gb-3.jpg);
}


.border
{
    display: flex;
    flex-direction: column;

    width: 670px;
    padding-bottom: 70px;

    background-color: #fff;

    justify-content: center;
    align-items: center;
}

.border p
{
    width: 70%;
    margin: 10px;
}

section:nth-of-type(4)
{
    z-index: 2;

    height: 800px;

    background: url(img/gb-3.jpg);
}

.fixed
{
    position: fixed;
    z-index: -1;
    bottom: 0;
    left: 0;
}

.info
{
    display: flex;
    flex-direction: column;

    text-align: center;

    justify-content: center;
    align-items: center;
}

footer
{
    display: flex;

    height: 180px;

    background: #2f2e2e;

    justify-content: center;
    align-items: flex-end;
}

footer img
{
    height: 35px;
    margin-bottom: 40px;
    padding-right: 15px;
}
